.post {
  & + div {
    margin-top: 5rem;
  }

  h1 {
    margin-bottom: 1rem;
    transition: color 0.2s;

    &:hover {
      color: var(--pink);
    }
  }

  p {
    color: var(--gray-300);
    margin-bottom: 2rem;
  }

  span {
    color: var(--gray-300);
    font-size: 0.85rem;

    & + span {
      margin-left: 2rem;
    }
  }
}
